<div class="min-h-screen flex flex-row justify-center w-full bg-white">
   <!--add user form & button -->
    <div class="bg-gray-100 w-1/3 px-4 py-2 rounded"> 
        <div class="text-center mb-4">
            <button phx-click="toggle_form" class="bg-blue-400 hover:bg-blue-700 text-white px-4 py-2 rounded">
                Add User
            </button>
        </div>
        
        <!--form is only visible if @show_form is true -->
        <%= if @show_form do %>
            <div class="bg-gray-200 p-6 rounded shadow">
                <h2 class="text-xl font-semibold mb-4">
                    Add New User
                </h2>

                <.form for={%{}} phx-submit="add_user" phx-change="update_form">
                    <div class="mb-4">
                        <label class="block text-gray-700 text-md font-semibold mb-2">
                            Name
                        </label>
                        <input type="text" name="user[name]" value={@form_data["name"]} class="shadow borlder rounded w-full py-2 px-3 text-gray-700" />

                        <!--1. dropdown for roles not sure if it should be -->
                        <div class="mb-4">
                            <label class="block text-gray-700 text-md font-semibold mb-2">
                                Role
                            </label>
                            <select name="user[role]" class="shadow border rounded w-full py-2 px-3 text-gray-900">
                                <option>--Select Role--</option>
                                <%= for option <- @dropdown_options do %>
                                    <option value={option} selected={@form_data["role"] == option}>
                                        <%= option %>
                                    </option>
                                <% end %>
                            </select>
                        </div>

                        <!--2. dropdown for reports to -->
                        <div class="mb-4">
                            <label class="block text-gray-700 text-md font-semibold mb-2">
                                Reports To
                            </label>
                            <select name="user[reports_to]" class="shadow border rounded w-full py-2 px-3 text-gray-900">
                                <option>--Select--</option>
                                <%= for option <- @dropdown_options do %>
                                    <option value={option} selected={@form_data["reports_to"] == option}>
                                        <%= option %>
                                    </option>
                                <% end %>
                            </select>
                        </div>

                        <div class="flex space-x-2">
                            <button type="submit" class="bg-blue-400 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded">
                                Add User
                            </button>
                            <button type="button" phx-click="toggle_form" class="bg-gray-500 hover:bg-gray-900 text-white font-semibold py-2 px-4 rounded">
                                Cancel
                            </button>
                        </div>
                    </div> 
    
                </.form>
            </div>
        <% end %>
    </div>    

    <div class="flex-1 px-6 py-2">
        <h1 class="text-2xl font-bold mb-6 text-center">Organizational Chart</h1>
        <div class="flex justify-center">
            <!-- tree display -->
            <.render_tree node={@tree} />
        </div>
    </div>      
    
</div>

    
        

